<a href="https://colab.research.google.com/github/nadiduno/DataCientists/blob/main/bdanalytech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>SpeedHiring - Challenge 2023</h1>
 <h2> <a href="https://totidiversidade.com.br/" target="_blank"><img src='https://totidiversidade.com.br/assets/img/icon_logo_toti.202d2564.svg' width="100"></a></h2>
<h1><a href="https://www.linkedin.com/in/john-jairo-cardona-hern%C3%A1ndez-a5837213b" target="_blank">John Jairo Cardona | Analista de dados</a></h1>
<h1><a href="https://www.linkedin.com/in/maolylara" target="_blank">Maoly Lara | Desenvolvedor web Full Stack</a></h1>
<h1><a href="https://www.linkedin.com/in/nadiduno/" target="_blank">Nadi Duno | Cientista de dados</a></h1>
<h1><a href="https://www.linkedin.com/in/silvia-ruiz-bustamante-6b4859243" target="_blank">Silvia Ruiz  | Analista de dados</a></h1>
</h1>Embaixadores da Toti Diverdidade</h1>

 Instalando pacote com Pip Install Packages

In [ ]:
pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (18.7.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [ ]:
pip install Detector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Detector
  Downloading Detector-3.0.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cryptography in /usr/local/lib/python3.10/dist-packages (from Detector) (40.0.2)
Requirement already satisfied: setuptools>=1.0 in /usr/local/lib/python3.10/dist-packages (from Detector) (67.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from Detector) (1.16.0)
Requirement already satisfied: future in /usr/local/lib/python3.10/dist-packages (from Detector) (0.18.3)
Collecting coloredlogs (from Detector)
  Downloading coloredlogs-15.0.1-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.0/46.0 kB 5.0 MB/s eta 0:00:00
Collecting pgpdump (from Detector)
  Downloading pgpdump-1.5.tar.gz (69 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.4/69.4 kB 8.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from Detector) (2.8.2)
INFO: pip is looking at multiple versions of detector to determine which version is compatible with other requirements. This could take a while.
Collecting Detector
  Downloading Detector-2.0.tar.gz (10 kB)
  Preparing metadata (setup.py) ... done
Collecting humanfriendly>=9.1 (from coloredlogs->Detector)
  Downloading humanfriendly-10.0-py2.py3-none-any.whl (86 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.8/86.8 kB 10.2 MB/s eta 0:00:00
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography->Detector) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography->Detector) (2.21)
Building wheels for collected packages: Detector, pgpdump
  Building wheel for Detector (setup.py) ... done
  Created wheel for Detector: filename=Detector-2.0-py3-none-any.whl size=11207 sha256=9bbab42c83542efb47c9c9c95c083ced7165af5d7e3678ed4cda7837be0cac3e
  Stored in directory: /root/.cache/pip/wheels/21/69/35/645911966f4af60c210887bf2d73b526738a8d80a09b9e1779
  Building wheel for pgpdump (setup.py) ... done
  Created wheel for pgpdump: filename=pgpdump-1.5-py3-none-any.whl size=19943 sha256=816867b303e6fdb78dc0fb0a6265f159947c14b0eff5a2e71b8e8cc3c2763879
  Stored in directory: /root/.cache/pip/wheels/61/85/ff/d394e3c6aaad30ee90e002d029be1ad660d7053f7a12cc751b
Successfully built Detector pgpdump
Installing collected packages: pgpdump, humanfriendly, coloredlogs, Detector
Successfully installed Detector-2.0 coloredlogs-15.0.1 humanfriendly-10.0 pgpdump-1.5

In [ ]:
pip install gender-guesser

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gender-guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 379.3/379.3 kB 11.3 MB/s eta 0:00:00
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0

Importando as Bibliotecas

In [ ]:
#Livrarias
import random
import sqlite3
import random
import numpy as np
import pandas as pd

Importando dados dos titulos dos projetos

In [ ]:
#Importando data CSV de 3 arquivos desde GitHub
url = 'https://raw.githubusercontent.com/nadiduno/DataCientists/main/projetosArea1.csv'
url1 = 'https://raw.githubusercontent.com/nadiduno/DataCientists/main/projetosArea2.csv'
url2 = 'https://raw.githubusercontent.com/nadiduno/DataCientists/main/projetosArea3.csv'

In [ ]:
#Convertendo o CSV a DataFrame
projetos = pd.read_csv(url)
projetos1 = pd.read_csv(url1)
projetos2 = pd.read_csv(url2)

Vamos a concatenar antes vamos a tratar-as para que tenham o mesmo formato

In [ ]:
projetos.info()
projetos1.info()
projetos2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 1 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Título do Projeto, Área de Pesquisa  887 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  239 non-null    int64
 1   Titulo      239 non-null    object
 2   Area        239 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  270 non-null    int64
 1   Titulo      270 non-null    object
 2   Area        270 non-null    object
dtypes: int64(1), object(2)
memory usage: 6.5+ KB

# Ciência de Dados 🧠
Para tratar os dados, tirar lixo, separar colunas, eliminar aspas, tirar espaços em brancos ao començo do texto, etc

#Primer DataFrame

In [ ]:
projetos

                   Título do Projeto, Área de Pesquisa
0    "Estudo sobre o impacto das mudanças climática...
1    "Análise da eficácia de novos tratamentos para...
2    "Desenvolvimento de tecnologias sustentáveis p...
3    "Estudo sobre a influência da urbanização na q...
4    "Análise do impacto socioeconômico de política...
..                                                 ...
882  "Garantia de acesso à educação de qualidade pa...
883  "Desenvolvimento de programas para a prevenção...
884  "Inclusão de crianças com deficiência na escol...
885  "Desenvolvimento de políticas públicas para a ...
886  "Redução das desigualdades sociais entre crian...

[887 rows x 1 columns]

Eliminando as aspas duplas

In [ ]:
projetos = projetos.replace('"', '', regex=True)
projetos

                   Título do Projeto, Área de Pesquisa
0    Estudo sobre o impacto das mudanças climáticas...
1    Análise da eficácia de novos tratamentos para ...
2    Desenvolvimento de tecnologias sustentáveis pa...
3    Estudo sobre a influência da urbanização na qu...
4    Análise do impacto socioeconômico de políticas...
..                                                 ...
882  Garantia de acesso à educação de qualidade par...
883  Desenvolvimento de programas para a prevenção ...
884  Inclusão de crianças com deficiência na escola...
885  Desenvolvimento de políticas públicas para a p...
886  Redução das desigualdades sociais entre crianç...

[887 rows x 1 columns]

Separando en columnas os datos, Titulo e Área

In [ ]:
projetos.rename(columns={'Título do Projeto, Área de Pesquisa': 'titulo'}, inplace=True)
#print(projetos.columns)
projetos=projetos['titulo'].str.split(',',expand=True)
#projectosnew[['titulo', 'area','none']] = projetos['titulo'].str.split(',',expand=True)
projetos

,0,1,2
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,None
1,Análise da eficácia de novos tratamentos para ...,Saúde,None
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,None
3,Estudo sobre a influência da urbanização na qu...,Urbanização,None
4,Análise do impacto socioeconômico de políticas...,Economia,None
...,...,...,...
882,Garantia de acesso à educação de qualidade par...,Educação,None
883,Desenvolvimento de programas para a prevenção ...,Políticas Públicas,None
884,Inclusão de crianças com deficiência na escola...,Inclusão,None
885,Desenvolvimento de políticas públicas para a p...,Políticas Públicas,None
886,Redução das desigualdades sociais entre crianç...,Políticas Públicas,None

In [ ]:
#Remplazando os nome da coluna 
projetos.rename(columns={0: 'Titulo',1: 'Area',2: 'Vazio'}, inplace=True)
projetos

,Titulo,Area,Vazio
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,None
1,Análise da eficácia de novos tratamentos para ...,Saúde,None
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,None
3,Estudo sobre a influência da urbanização na qu...,Urbanização,None
4,Análise do impacto socioeconômico de políticas...,Economia,None
...,...,...,...
882,Garantia de acesso à educação de qualidade par...,Educação,None
883,Desenvolvimento de programas para a prevenção ...,Políticas Públicas,None
884,Inclusão de crianças com deficiência na escola...,Inclusão,None
885,Desenvolvimento de políticas públicas para a p...,Políticas Públicas,None
886,Redução das desigualdades sociais entre crianç...,Políticas Públicas,None

In [ ]:
#Eliminando uma coluna vazia
projetos.drop('Vazio', axis=1, inplace=True)
projetos

                                                Titulo                 Area
0    Estudo sobre o impacto das mudanças climáticas...        Meio Ambiente
1    Análise da eficácia de novos tratamentos para ...                Saúde
2    Desenvolvimento de tecnologias sustentáveis pa...          Agricultura
3    Estudo sobre a influência da urbanização na qu...          Urbanização
4    Análise do impacto socioeconômico de políticas...             Economia
..                                                 ...                  ...
882  Garantia de acesso à educação de qualidade par...             Educação
883  Desenvolvimento de programas para a prevenção ...   Políticas Públicas
884  Inclusão de crianças com deficiência na escola...             Inclusão
885  Desenvolvimento de políticas públicas para a p...   Políticas Públicas
886  Redução das desigualdades sociais entre crianç...   Políticas Públicas

[887 rows x 2 columns]

#Segundo DataFrame

In [ ]:
projetos1

,Unnamed: 0,Titulo,Area
0,0,Estudo da biodiversidade marinha em áreas de r...,Biologia Marinha
1,1,Mapeamento da cobertura vegetacional da Amazônia,Ecologia
2,2,Análise das mudanças climáticas na Antártica,Climatologia
3,3,Impacto da poluição atmosférica na saúde humana,Saúde Pública
4,4,Desenvolvimento de materiais alternativos para...,Engenharia de Materiais
...,...,...,...
234,37,Modelagem de previsão de enchentes em áreas ur...,Engenharia Hidráulica
235,38,Estudo de dinâmica populacional na África,Demografia
236,39,Análise de impactos ambientais em rodovias,Engenharia de Transportes
237,40,Desenvolvimento de materiais mais resistentes ...,Engenharia Naval
238,41,Modelagem de previsão de epidemias de doenças ...,Epidemiologia

Eliminar a primeira coluna é lixo

In [ ]:
#Eliminando uma coluna lixo
projetos1.drop('Unnamed: 0', axis=1, inplace=True)
projetos1

,Titulo,Area
0,Estudo da biodiversidade marinha em áreas de r...,Biologia Marinha
1,Mapeamento da cobertura vegetacional da Amazônia,Ecologia
2,Análise das mudanças climáticas na Antártica,Climatologia
3,Impacto da poluição atmosférica na saúde humana,Saúde Pública
4,Desenvolvimento de materiais alternativos para...,Engenharia de Materiais
...,...,...
234,Modelagem de previsão de enchentes em áreas ur...,Engenharia Hidráulica
235,Estudo de dinâmica populacional na África,Demografia
236,Análise de impactos ambientais em rodovias,Engenharia de Transportes
237,Desenvolvimento de materiais mais resistentes ...,Engenharia Naval
238,Modelagem de previsão de epidemias de doenças ...,Epidemiologia

# Terceiro Dataframe

In [ ]:
projetos2

,Unnamed: 0,Titulo,Area
0,0,As Transformações Climáticas e as Áreas Verdes...,Climatologia e Mudanças Ambientais
1,1,Ciência do Solo para a Agricultura Sustentável,Agronomia e Agricultura
2,2,O Impacto das Tecnologias na Indústria Automotiva,Engenharia Automotiva
3,3,O Uso de Drones para a Coleta de Dados Ambientais,Engenharia Ambiental
4,4,A Nanotecnologia e a Medicina Personalizada,Nanotecnologia e Medicina
...,...,...,...
265,24,Criação de sistemas de detecção de fraude em d...,Ciências econômicas e computação
266,25,Estudo da biomecânica do voo de pássaros para ...,Engenharia aeronáutica e meio ambiente
267,26,Desenvolvimento de tecnologias para reciclagem...,Engenharia ambiental e química
268,27,Estudo da microbiologia do solo para desenvolv...,Engenharia ambiental e biologia
269,28,Desenvolvimento de métodos para detecção de câ...,Medicina e ciências da saúde

Eliminar a primeira coluna é lixo

In [ ]:
#Eliminando uma coluna lixo
projetos2.drop('Unnamed: 0', axis=1, inplace=True)
projetos2

,Titulo,Area
0,As Transformações Climáticas e as Áreas Verdes...,Climatologia e Mudanças Ambientais
1,Ciência do Solo para a Agricultura Sustentável,Agronomia e Agricultura
2,O Impacto das Tecnologias na Indústria Automotiva,Engenharia Automotiva
3,O Uso de Drones para a Coleta de Dados Ambientais,Engenharia Ambiental
4,A Nanotecnologia e a Medicina Personalizada,Nanotecnologia e Medicina
...,...,...
265,Criação de sistemas de detecção de fraude em d...,Ciências econômicas e computação
266,Estudo da biomecânica do voo de pássaros para ...,Engenharia aeronáutica e meio ambiente
267,Desenvolvimento de tecnologias para reciclagem...,Engenharia ambiental e química
268,Estudo da microbiologia do solo para desenvolv...,Engenharia ambiental e biologia
269,Desenvolvimento de métodos para detecção de câ...,Medicina e ciências da saúde

# Concatenar os Data Frame

In [ ]:
projetosnovo = pd.concat([projetos,projetos1,projetos2])
projetosnovo

,Titulo,Area
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente
1,Análise da eficácia de novos tratamentos para ...,Saúde
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura
3,Estudo sobre a influência da urbanização na qu...,Urbanização
4,Análise do impacto socioeconômico de políticas...,Economia
...,...,...
265,Criação de sistemas de detecção de fraude em d...,Ciências econômicas e computação
266,Estudo da biomecânica do voo de pássaros para ...,Engenharia aeronáutica e meio ambiente
267,Desenvolvimento de tecnologias para reciclagem...,Engenharia ambiental e química
268,Estudo da microbiologia do solo para desenvolv...,Engenharia ambiental e biologia
269,Desenvolvimento de métodos para detecção de câ...,Medicina e ciências da saúde

In [ ]:
projetosnovo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1396 entries, 0 to 269
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Titulo  1396 non-null   object
 1   Area    1396 non-null   object
dtypes: object(2)
memory usage: 32.7+ KB

Eliminando espaços em branco (para evitar erros ao criar o código de área, já que é usado a primeira letra, e se é teme espaços em branco antes deixa como vazio)

In [ ]:
projetosnovo['Titulo'] = projetosnovo['Titulo'].str.lstrip()
projetosnovo['Area'] = projetosnovo['Area'].str.lstrip()
projetosnovo

,Titulo,Area
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente
1,Análise da eficácia de novos tratamentos para ...,Saúde
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura
3,Estudo sobre a influência da urbanização na qu...,Urbanização
4,Análise do impacto socioeconômico de políticas...,Economia
...,...,...
265,Criação de sistemas de detecção de fraude em d...,Ciências econômicas e computação
266,Estudo da biomecânica do voo de pássaros para ...,Engenharia aeronáutica e meio ambiente
267,Desenvolvimento de tecnologias para reciclagem...,Engenharia ambiental e química
268,Estudo da microbiologia do solo para desenvolv...,Engenharia ambiental e biologia
269,Desenvolvimento de métodos para detecção de câ...,Medicina e ciências da saúde

Depurando as Áreas de Pesquisa

In [ ]:
projetosnovo['Area'].value_counts()

Tecnologia                         113
Educação                            38
Saúde                               36
Engenharia                          34
Inclusão                            31
                                  ...
Tecnologia Agrícola                  1
Saúde Ambiental                      1
Alterações climáticas                1
Acesso à energia elétrica            1
Engenharia ambiental e biologia      1
Name: Area, Length: 458, dtype: int64

Temos 335 areas, muito amplo, vamos reduzir, eliminando as que aparecen menos de 3 veces

In [ ]:
projetosnovo = projetosnovo[projetosnovo['Area'].map(projetosnovo['Area'].value_counts()) > 3]
projetosnovo['Area'].value_counts()

Tecnologia                 113
Educação                    38
Saúde                       36
Engenharia                  34
Inclusão                    31
                          ...
Segurança da Informação      4
Biologia/Medicina            4
Turismo Sustentável          4
Ecoturismo                   4
Zoologia                     4
Name: Area, Length: 78, dtype: int64

In [ ]:
#Frecuência de 10 testando
projetosnovo['Area'].value_counts()[projetosnovo['Area'].value_counts() == 10]

Genética          10
Justiça Social    10
Name: Area, dtype: int64

Redujo as areas, porem a quantidades de registros. Ganhamos que as áreas de pesquisassão mais robustas para nossa tabela de Áreas

In [ ]:
projetosnovo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887 entries, 0 to 261
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Titulo  887 non-null    object
 1   Area    887 non-null    object
dtypes: object(2)
memory usage: 20.8+ KB

Agregando Número de Horas

In [ ]:
projetosnovo['Horas'] = [random.randint(300, 1500) for _ in range(len(projetosnovo))]
projetosnovo

<ipython-input-124-31e7b6adb64f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  projetosnovo['Horas'] = [random.randint(300, 1500) for _ in range(len(projetosnovo))]

,Titulo,Area,Horas
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390
1,Análise da eficácia de novos tratamentos para ...,Saúde,572
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063
3,Estudo sobre a influência da urbanização na qu...,Urbanização,1422
4,Análise do impacto socioeconômico de políticas...,Economia,339
...,...,...,...
241,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397
243,Desenvolvimento de novos materiais para constr...,Engenharia civil,948
245,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335
249,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399
261,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464

# Áreas do projeto para fazer o código no formato 
AeH1
AeH2
AeH3
Onde
A(Financiamento)e(TipodeArea)h(Habilidade Do Cientista)1(NumeoConsecutivo)

Financiamento tem 3 categorias A, B e C
Onde 
A(Alto)
B(Medio)
C(Bajo)

Tipo de Area
As que estão no dataframe

Habilidade Do Cientista
Da a-z

NumeoConsecutivo
Iniciando em 1 e incrmentando 1

In [ ]:
#[projetosnovo.iloc[i][0][0] for i in range(len(projetosnovo))]
#projetosnovo.iloc[2, 1][0]
#code = random.choice(['A', 'B', 'C']) + projetosnovo['Area'][0][0].lower() + random.choice(['A', 'B', 'C','D','E', 'F', 'G','H','I', 'J', 'K','L','M', 'N', 'O']) + str(random.randint(1,30))
#print('Titulo do Projeto: ',projetosnovo['Titulo'][3])
#print('Area do Projeto: ',projetosnovo['Area'][3])
#print('Codigo Gerado:',code)
#print(code[0],'representa ao financiamento A(Alto) B(Medio) C(Bajo)',code[1],'primeira letra da área do projeto',code[2],'Letras a A - O representam objetivos',code[4],'Numero consecutivo')

Funciona, agora geremos ese código no data frame

In [ ]:
def codigoprojeto():
  #code = random.choice(['A', 'B', 'C']) + projetosnovo['Area'][0][0].lower() + random.choice(['A', 'B', 'C','D','E', 'F', 'G','H','I', 'J', 'K','L','M', 'N', 'O','P','Q','R', 'S','T','U', 'V', 'W','X','Y','Z','a', 'b', 'c','d','e', 'f', 'g','h','i', 'j', 'k','l','m', 'n', 'o','p','q','r', 's','t','u', 'v', 'w','x','y','z']) + str(random.randint(1,5000))
  return code

In [ ]:
#Eliminando a coluna Code
#projetosnovo=projetosnovo.drop('Code', axis=1)
projetosnovo

,Titulo,Area,Horas
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390
1,Análise da eficácia de novos tratamentos para ...,Saúde,572
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063
3,Estudo sobre a influência da urbanização na qu...,Urbanização,1422
4,Análise do impacto socioeconômico de políticas...,Economia,339
...,...,...,...
241,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397
243,Desenvolvimento de novos materiais para constr...,Engenharia civil,948
245,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335
249,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399
261,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464

Creando código para o dataframe

In [ ]:
projetosnovo['Code'] = [random.choice(['A', 'B', 'C']) + projetosnovo.iloc[i][0][0].lower() + random.choice(['A', 'B', 'C','D','E', 'F', 'G','H','I', 'J', 'K','L','M', 'N', 'O','P','Q','R', 'S','T','U', 'V', 'W','X','Y','Z','aa', 'ab', 'cc','dd','ee', 'ff', 'gg','hh','ii', 'jj', 'kk','ll','mm', 'nn', 'oo','pp','qq','rr', 'ss','tt','uu', 'vv', 'ww','xx','yy','za']) + str(random.randint(1,5000)) for i in range(len(projetosnovo))]
projetosnovo

,Titulo,Area,Horas,Code
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390,Beyy634
1,Análise da eficácia de novos tratamentos para ...,Saúde,572,BaT2552
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063,Adaa3991
3,Estudo sobre a influência da urbanização na qu...,Urbanização,1422,CeT2796
4,Análise do impacto socioeconômico de políticas...,Economia,339,Aacc251
...,...,...,...,...
241,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397,CtR3711
243,Desenvolvimento de novos materiais para constr...,Engenharia civil,948,AdY4108
245,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335,AaQ514
249,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399,Cmdd720
261,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464,Bmyy3039

Vendo se tem código duplicados

In [ ]:
duplicados=projetosnovo['Code'].value_counts()
duplicados

Beyy634     1
BcK212      1
BpK209      1
Cugg1561    1
Crss4418    1
           ..
Beww773     1
ApP1155     1
Cess2249    1
CpH1450     1
Bmyy3039    1
Name: Code, Length: 887, dtype: int64

Eliminemos os duplicados

In [ ]:
projetosnovo.drop_duplicates(subset=['Code'], inplace=True)
projetosnovo

,Titulo,Area,Horas,Code
0,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390,Beyy634
1,Análise da eficácia de novos tratamentos para ...,Saúde,572,BaT2552
2,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063,Adaa3991
3,Estudo sobre a influência da urbanização na qu...,Urbanização,1422,CeT2796
4,Análise do impacto socioeconômico de políticas...,Economia,339,Aacc251
...,...,...,...,...
241,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397,CtR3711
243,Desenvolvimento de novos materiais para constr...,Engenharia civil,948,AdY4108
245,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335,AaQ514
249,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399,Cmdd720
261,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464,Bmyy3039

In [ ]:
#Pegando a coluna Code para levar para a primeira posição
code = projetosnovo.pop('Code')
projetosnovo.insert(0, 'CodeN', code)
projetosnovo

,CodeN,Titulo,Area,Horas
0,Beyy634,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390
1,BaT2552,Análise da eficácia de novos tratamentos para ...,Saúde,572
2,Adaa3991,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063
3,CeT2796,Estudo sobre a influência da urbanização na qu...,Urbanização,1422
4,Aacc251,Análise do impacto socioeconômico de políticas...,Economia,339
...,...,...,...,...
241,CtR3711,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397
243,AdY4108,Desenvolvimento de novos materiais para constr...,Engenharia civil,948
245,AaQ514,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335
249,Cmdd720,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399
261,Bmyy3039,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464

Gerando datas, para os projeto no´s ultimos 5 anos 2018-2023(atual)

In [ ]:
#Eliminando Data
#projetosnovo=projetosnovo.drop('DataInicio', axis=1)
#projetosnovo=projetosnovo.drop('DataFim', axis=1)
#projetosnovo

In [ ]:
def dataprojeto():
  #Data de Inicio
  mes = str(random.randint(1,12))
  ano=random.randint(2018,2022)
  if  mes == 1 or mes == 3 or mes == 5 or mes == 7 or mes == 8 or mes == 10 or mes == 12:
    dia=str(random.randint(1,31))
  elif mes == 2:
    dia=str(random.randint(1,28))
  else:
    dia=str(random.randint(1,30))
  #Data Final
  mes2 = int(mes) + int(str(random.randint(1,5)))
  if mes2 > 12 :
    mes2=mes2-12
    ano2=ano+1
  else:
    ano2=ano
  if  mes2 == 1 or mes2 == 3 or mes2 == 5 or mes2 == 7 or mes2 == 8 or mes2 == 10 or mes2 == 12:
    dia2=str(random.randint(1,31))
  elif mes == 2:
    dia2=str(random.randint(1,28))
  else:
    dia2=str(random.randint(1,30))
  #Guardando as datas no dataframe, concatenando dia, mês e ano
  dataInicio=str(dia)+str('/')+str(mes)+str('/')+str(ano)
  dataFim=str(dia2)+str('/')+str(mes2)+str('/')+str(ano2)
  return dataInicio,dataFim
  #print('Inicio ', dataInicio)
  #print('Fim ', dataFim,'\n')

In [ ]:
projetosnovo[['DataInicio','DataFim']] = [(dataprojeto()) for _ in range(len(projetosnovo))]
projetosnovo

,CodeN,Titulo,Area,Horas,DataInicio,DataFim
0,Beyy634,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390,20/7/2019,2/11/2019
1,BaT2552,Análise da eficácia de novos tratamentos para ...,Saúde,572,27/8/2020,17/9/2020
2,Adaa3991,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063,6/4/2021,26/9/2021
3,CeT2796,Estudo sobre a influência da urbanização na qu...,Urbanização,1422,2/9/2022,18/10/2022
4,Aacc251,Análise do impacto socioeconômico de políticas...,Economia,339,30/3/2021,30/5/2021
...,...,...,...,...,...,...
241,CtR3711,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397,20/4/2021,16/6/2021
243,AdY4108,Desenvolvimento de novos materiais para constr...,Engenharia civil,948,8/3/2019,19/8/2019
245,AaQ514,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335,8/1/2022,13/3/2022
249,Cmdd720,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399,18/1/2020,28/6/2020
261,Bmyy3039,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464,14/2/2020,17/5/2020

In [ ]:
#Eliminando codefinancioment
#projetosnovo=projetosnovo.drop('costo', axis=1)
#projetosnovo
def codefinanciamento(letter):
  if letter == 'A' :
    return 'A',random.randint(50000, 100000)
  elif letter == 'B' :
    return 'B',random.randint(10000, 50000)
  else:
    return 'C',random.randint(1000, 10000)

In [ ]:
#[projetosnovo.iloc[i][0][0] for i in range(len(projetosnovo))]
projetosnovo[['code_fina','costo']] = [(codefinanciamento(projetosnovo.iloc[i][0][0])) for i in range(len(projetosnovo))]

In [ ]:

projetostabela=projetosnovo
projetostabela

,CodeN,Titulo,Area,Horas,DataInicio,DataFim,code_fina,costo,code_regi,regiao
0,Beyy634,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390,20/7/2019,2/11/2019,B,21893,2,Nordeste
1,BaT2552,Análise da eficácia de novos tratamentos para ...,Saúde,572,27/8/2020,17/9/2020,B,44973,5,Sul
2,Adaa3991,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063,6/4/2021,26/9/2021,A,77942,2,Nordeste
3,CeT2796,Estudo sobre a influência da urbanização na qu...,Urbanização,1422,2/9/2022,18/10/2022,C,7946,5,Sul
4,Aacc251,Análise do impacto socioeconômico de políticas...,Economia,339,30/3/2021,30/5/2021,A,50649,1,Centro-Oeste
...,...,...,...,...,...,...,...,...,...,...
241,CtR3711,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397,20/4/2021,16/6/2021,C,8741,5,Sul
243,AdY4108,Desenvolvimento de novos materiais para constr...,Engenharia civil,948,8/3/2019,19/8/2019,A,57405,1,Centro-Oeste
245,AaQ514,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335,8/1/2022,13/3/2022,A,62461,3,Norte
249,Cmdd720,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399,18/1/2020,28/6/2020,C,9007,1,Centro-Oeste
261,Bmyy3039,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464,14/2/2020,17/5/2020,B,26639,3,Norte

In [ ]:
def regiao(number):
  if number == 1 :
    return (1,'Centro-Oeste')
  elif number == 2 :
    return (2,'Nordeste')
  elif number == 3 :
    return (3,'Norte')
  elif number == 4 :
    return (4,'Sudeste')
  else:
    return (5,'Sul')

In [ ]:
#Eliminando codefinancioment
#projetosnovo=projetosnovo.drop('costo', axis=1)
#projetosnovo

In [ ]:
#[random.randint(1,5) for i in range(len(projetosnovo))]
projetosnovo[['code_regi','regiao']] = [regiao(random.randint(1,5)) for i in range(len(projetosnovo))]

In [ ]:
projetosnovo

,CodeN,Titulo,Area,Horas,DataInicio,DataFim,code_fina,costo,code_regi,regiao
0,Beyy634,Estudo sobre o impacto das mudanças climáticas...,Meio Ambiente,390,20/7/2019,2/11/2019,B,21893,2,Nordeste
1,BaT2552,Análise da eficácia de novos tratamentos para ...,Saúde,572,27/8/2020,17/9/2020,B,44973,5,Sul
2,Adaa3991,Desenvolvimento de tecnologias sustentáveis pa...,Agricultura,1063,6/4/2021,26/9/2021,A,77942,2,Nordeste
3,CeT2796,Estudo sobre a influência da urbanização na qu...,Urbanização,1422,2/9/2022,18/10/2022,C,7946,5,Sul
4,Aacc251,Análise do impacto socioeconômico de políticas...,Economia,339,30/3/2021,30/5/2021,A,50649,1,Centro-Oeste
...,...,...,...,...,...,...,...,...,...,...
241,CtR3711,Tecnologias avançadas para monitoramento ambie...,Meio ambiente,1397,20/4/2021,16/6/2021,C,8741,5,Sul
243,AdY4108,Desenvolvimento de novos materiais para constr...,Engenharia civil,948,8/3/2019,19/8/2019,A,57405,1,Centro-Oeste
245,AaQ514,Análise de dados para prevenção de epidemias e...,Epidemiologia,1335,8/1/2022,13/3/2022,A,62461,3,Norte
249,Cmdd720,Monitoramento do derretimento de geleiras e im...,Meio ambiente,1399,18/1/2020,28/6/2020,C,9007,1,Centro-Oeste
261,Bmyy3039,Monitoramento de florestas tropicais e desenvo...,Meio ambiente,464,14/2/2020,17/5/2020,B,26639,3,Norte

In [ ]:
projetosnovo.to_csv('projetosv1.csv')

# Cientistas

Gerando CPF aleatorios

In [ ]:
from faker import Faker
fake = Faker('pt_BR')

In [ ]:
def cpfcientista():
  cpf = fake.cpf()
  return cpf

Gerando Nomes aleatorios

In [ ]:
from gender_guesser.detector import Detector
detector = Detector()

def sexocientista(nome):
    genero = detector.get_gender(nome)
    if genero == 'female':
        return (1,'Feminino')
    elif genero == 'male':
        return (2,'Masculino')
    else:
        return (3,'Não definido')

In [ ]:
novo = {'CPF': [], 'nome': [], 'code_sexo': [], 'sexo': []}
for i in range(200):
  cpf=cpfcientista()
  nome=nome=fake.first_name()
  sexo=sexocientista(nome)
  nome2=nome + ' ' + fake.last_name()
  novo['CPF'].append(cpf)
  novo['nome'].append(nome2)
  novo['code_sexo'].append(sexo[0])
  novo['sexo'].append(sexo[1])

cientistanovo = pd.DataFrame(novo)
cientistanovo

                CPF                    nome  code_sexo          sexo
0    451.706.923-07  João Guilherme Martins          3  Não definido
1    594.802.173-41            Kamilly Melo          3  Não definido
2    546.301.879-01          Miguel Cardoso          2     Masculino
3    270.691.548-01            Rafael Souza          2     Masculino
4    935.741.260-34           Danilo Campos          2     Masculino
..              ...                     ...        ...           ...
195  049.182.567-67   Carlos Eduardo Aragão          3  Não definido
196  352.106.479-43           Otávio Barros          3  Não definido
197  736.915.208-12           Thales Araújo          3  Não definido
198  920.164.738-78            Danilo Lopes          2     Masculino
199  182.645.079-30          Larissa Moraes          1      Feminino

[200 rows x 4 columns]

Definir as linheas que em sexo sejam direrente a Não defino

In [ ]:
cientistanovo2 = cientistanovo['sexo'] != 'Não definido'
cientistanovo2

0      False
1      False
2       True
3       True
4       True
       ...
195    False
196    False
197    False
198     True
199     True
Name: sexo, Length: 200, dtype: bool

Verificar não ter CPF ou SSN duplicadod

In [ ]:
duplicados2=cientistanovo['CPF'].value_counts()
duplicados2

451.706.923-07    1
768.043.129-96    1
598.406.312-33    1
653.084.912-24    1
940.261.537-70    1
                 ..
273.409.518-14    1
764.310.259-70    1
536.814.927-19    1
859.731.062-68    1
182.645.079-30    1
Name: CPF, Length: 200, dtype: int64

# TABELA FINAL DE CIENTISTAS
Creando uma nova tabela só com esas linheas

In [ ]:
cientistastabela = cientistanovo[cientistanovo2]
cientistastabela

                CPF              nome  code_sexo       sexo
2    546.301.879-01    Miguel Cardoso          2  Masculino
3    270.691.548-01      Rafael Souza          2  Masculino
4    935.741.260-34     Danilo Campos          2  Masculino
5    126.390.758-02    Carolina Pinto          1   Feminino
6    630.142.958-33    Larissa Vieira          1   Feminino
..              ...               ...        ...        ...
192  247.016.983-69  Augusto Monteiro          2  Masculino
193  492.601.587-02   Miguel da Cunha          2  Masculino
194  643.071.852-26    Enrico Correia          2  Masculino
198  920.164.738-78      Danilo Lopes          2  Masculino
199  182.645.079-30    Larissa Moraes          1   Feminino

[127 rows x 4 columns]

In [ ]:
cientistastabela[['code_regi','regiao']] = [regiao(random.randint(1,5)) for i in range(len(cientistastabela))]
cientistastabela

<ipython-input-224-d3ee01c6b0d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cientistastabela[['code_regi','regiao']] = [regiao(random.randint(1,5)) for i in range(len(cientistastabela))]
<ipython-input-224-d3ee01c6b0d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cientistastabela[['code_regi','regiao']] = [regiao(random.randint(1,5)) for i in range(len(cientistastabela))]

,CPF,nome,code_sexo,sexo,code_regi,regiao
2,546.301.879-01,Miguel Cardoso,2,Masculino,3,Norte
3,270.691.548-01,Rafael Souza,2,Masculino,1,Centro-Oeste
4,935.741.260-34,Danilo Campos,2,Masculino,1,Centro-Oeste
5,126.390.758-02,Carolina Pinto,1,Feminino,5,Sul
6,630.142.958-33,Larissa Vieira,1,Feminino,3,Norte
...,...,...,...,...,...,...
192,247.016.983-69,Augusto Monteiro,2,Masculino,1,Centro-Oeste
193,492.601.587-02,Miguel da Cunha,2,Masculino,4,Sudeste
194,643.071.852-26,Enrico Correia,2,Masculino,4,Sudeste
198,920.164.738-78,Danilo Lopes,2,Masculino,2,Nordeste
199,182.645.079-30,Larissa Moraes,1,Feminino,3,Norte

# Atributo

In [ ]:
#ssn=cientistastabela['SSN'][int(str(random.randint(1,78)))]
#code=projetostabela['CodeN'][int(str(random.randint(1,118)))]
#ssn
#code
#cientistastabela

Ao chamar a dataframe em algmas linhas da erro usaremos exeption para exitar-os

In [ ]:
novoatri = {'CPF': [], 'CodeN': []}
for i in range(2000):
  try:
    ssn=cientistastabela['CPF'][int(str(random.randint(1,75)))]
  except KeyError:
    continue
  try:
    code=projetostabela['CodeN'][int(str(random.randint(1,118)))]
  except KeyError:
    continue
  
  novoatri['CPF'].append(ssn)
  novoatri['CodeN'].append(code)

atributotabela = pd.DataFrame(novoatri)
atributotabela

                 CPF                                              CodeN
0     764.310.259-70                                            AaD3128
1     413.879.265-19  62    Cexx3050
62    Ceyy2245
Name: CodeN, dty...
2     516.327.049-43  8    BeU3515
8    CdJ4445
Name: CodeN, dtype: ...
3     403.217.985-97  60     BaO2407
60    Ceab3668
Name: CodeN, dty...
4     791.453.280-05  113    Bett2878
113     AeG3370
113      Cdyy1...
...              ...                                                ...
1177  071.683.542-80  29    CaE4181
29    CtN1727
Name: CodeN, dtype...
1178  365.891.720-21  105    Ciqq1307
105      Cajj68
105    Aeff383...
1179  126.390.758-02  53    Cejj891
53     BeD491
Name: CodeN, dtype...
1180  791.453.280-05  40    Aakk1012
40     BeA1501
Name: CodeN, dty...
1181  691.725.034-16                                           Beii2145

[1182 rows x 2 columns]

In [ ]:

#['Area'].value_counts()[projetosnovo['Area'].value_counts() == 1]
#Area=projetosnovo['Area'].value_counts()
#Area

In [ ]:
atributotabela.to_csv('atributo.csv')

In [ ]:
cientistastabela

# Estadísticas

In [ ]:
#projetostabela.describe(include='all')

In [ ]:
#cientistastabela.describe(include='all')

In [ ]:
#atributotabela.describe(include='all')

# Exportando Dados

In [ ]:
#projetostabela.to_csv('tabelaprojetos.csv')

In [ ]:
cientistastabela.to_csv('cientistas.csv')

In [ ]:
atributotabela.to_csv('atributo.csv')